# Environments
env/

# Jupyter Notebook
.ipynb_checkpoints

# VS code
.vscode

# Java compiled files
*.class

*.zip

*.txt

JavaAlgo/Boggle/.idea/
JavaAlgo/Boggle/.lift/

JavaAlgo/Boggle/Algorithms, Part II.iml
JavaAlgo/Boggle/logo.png
